@media (max-width: 425px) {
    .cabecalho__menu{
        margin: 1% 15% 10% 5%;
        gap: 150px;
    }
    .cabecalho__menu__link{
        font-size: 30px;
    }

    .imagem__logo{
        width: 200px;
        margin: 1% 10%;
    }
.titulo{
    font-size: 30px;
    margin: 4% 10% 5% 20%;
}
.titulo__segundo{
    font-size: 70px;
    margin: 3% 20%;
    text-align: center;


}
.titulo__terceiro{
    font-size: 30px;
}
.lista__cabelo{
    font-size: 30px;
}
.imagem__cabelo{
    width: 200px;
}
.titulo__quarto{
    font-size: 30px;
}
.lista__unha{
font-size: 30px;
}
.imagem__unha{
    width: 200px;

}
.rodape{
    font-size: 25px;
     position: static;
     min-height: auto;
     text-align: center;
     margin-top: 20%;


}
 .imagem__foto{
    margin: 5%;
    width: 280px;
 }
 .meunome{
    margin: 5% 40% 4% 30%;
    text-align: center;
 }
 .texto{
    font-size: 30px;
    margin: 2% 30% 5% 30%;
 }
 .texto__secundario{
    font-size: 30px;
    margin: 2% 40 5% 30%;
    text-align: center;
 }

 .menu__lateral{
    min-height: 50vh;
    

 }
}